fastapi
uvicorn[standard]
pandas
openpyxl
python-multipart
weasyprint

# Security and Authentication
psycopg2-binary
passlib[argon2]
argon2-cffi
python-jose[cryptography]

# Database - PostgreSQL
SQLAlchemy
psycopg2-binary

# Testing
pytest
httpx
