body {
    transition: background-color 0.3s, color 0.3s;
}

.sidebar {
    width: 250px;
    transition: margin-left 0.3s;
}

.sidebar.collapsed {
    margin-left: -250px;
}

.main-content {
    transition: width 0.3s, margin-left 0.3s;
    flex-grow: 1;
}

.sidebar-toggle {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1030; /* Higher than sidebar */
}